 <!--about me page title-->
    <div class="large-12 medium-12 small-12 columns">
        <h1>Zida's Profile</h1>
    </div>
    <hr />  
    <!-- about me section header-->
    <div class="row">
        <div class="columns show-for-small-down">
            <img src="/images/personalPic.jpg" />
        </div>
        <div class="large-7 medium-7 small-12 columns">
            <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <h2>About Me</h2>
                </div>
            </div>
            <!--my personal description-->
            <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <p>Hello! My name is Zida Bi. I'm studying Software Engineering Technology in Centennial College. This is my 5th semester and I will gradute on December 2015.</p>
                    <p>My favourite subjects are coding courses. We have excellent teaches and interested content.</p>
                    <p>Software engineers will change the world!</p>
                </div>
            </div>
        </div>
        <div class="large-5 medium-5 columns show-for-medium-up">
            <img src="/images/personalPic.jpg" />
        </div>
    </div>
    <hr />
    <!--coop work exp section header-->
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <h2>Co-op Work Experiences</h2>
        </div>
    </div>
    <!--coop exp body-->
    <div class="row">
        <div class="large-8 medium-8 small-8 columns" id="company">Royal Bank of Canada</div>
        <div class="large-4 medium-4 small-4 columns">Winter&Fall 2014</div>
    </div>
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <ul>
                <li>Executing performance testing for branch softwares.</li>
                <li>Debug test scripts.</li>
                <li>Approve team invoices from external suppliers.</li>
                <li>Maintain department equipment record.</li>
            </ul>
        </div>
    </div>
    <hr />