<!--contact me page-->
    <!--contact information section header-->
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <h3>Contact Info</h3>
        </div>
    </div>
    <!--my contact information body-->
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <center>
                <ul id="contactInfo">
                    <li>Email: zida_bi@hotmail.com</li>
                    <li>Work Address: 35 Fake Road West. Scarborough. ON.</li>
                    <li>Cellphone: 647-928-9566</li>
                </ul>
            </center>
        </div>
    </div>
    <hr />
    
    <!--social network bottons section header-->
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <h3>Follow Me on Social Networks</h3>
        </div>
    </div>
    <!--social network bottons-->
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <center>
                <a href="https://www.facebook.com/zida.bi">
                    <img src="/images/webicon-facebook.png" />
                </a>
                <a href="https://twitter.com/zida_bi">
                    <img src="/images/webicon-twitter.png" />
                </a>
                <a href="https://www.linkedin.com/in/zidabi">
                    <img src="/images/webicon-linkedin.png" />
                </a>
                <a href="https://www.youtube.com/channel/UC4V0nFvNl_xX7KeSqRlKEJQ/feed">
                    <img src="/images/webicon-youtube.png" />
                </a>
            </center>
        </div>
    </div>
    <hr />