<!--File Name: footer.ejs
    Author: Zida Bi, 300716389
    Website: Zida's Home
    File Description: footer partial contain copyright statement
-->
  

  <!--copyright statement-->
   <br>
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <h6>&copy;Copyright 2015 Zida Bi All rights reserved.</h6>
        </div>
    </div>