<!--copyright statement-->
   <br>
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <h6>&copy;Copyright 2015 Zida Bi All rights reserved.</h6>
        </div>
    </div>