<center>
    <div class="row  show-for-small-down">
       <div class="small-12 column">
           <div class="row">
                <div class="small-12 large-12 medium-12 columns">
                    <img id="logo-small" src="/images/logo.png" />
                </div>
            </div>
       </div>              
    </div>
</center>
       

<div class="row">
        <div class="large-9 medium-9 small-12 columns">
            <!--icon bar-->
            <div class="row">
                <div class="large-12 medium-12 columns show-for-medium-up">
                    <div class="icon-bar six-up">
                        <a href="index.html" class="item" id="currentPg">
                            <img src="/images/home.svg" />
                            <label>Home</label>
                        </a>

                        <a href="aboutme.html" class="item">
                            <img src="/images/aboutme.svg" />
                            <label class="show-for-large-up">About Me</label>
                            <label class="show-for-medium-only">About</label>
                        </a>

                        <a href="projects.html" class="item">
                            <img src="/images/project.svg" />
                            <label>Projects</label>
                        </a>

                        <a href="services.html" class="item">
                            <img src="/images/service.svg" />
                            <label>Services</label>
                        </a>

                        <a href="https://github.com/zida-bi" class="item">
                            <img src="/images/github.svg" />
                            <label>GitHub</label>
                        </a>

                        <a href="contactme.html" class="item">
                            <img src="/images/contactme.svg" />
                            <label class="show-for-large-up">Contact Me</label>
                            <label class="show-for-medium-only">Contact</label>
                        </a>
                    </div>
                </div>
                
                <div class="small-12 columns show-for-small-down">
                    <div class="icon-bar four-up">
                        <a href="index.html" class="item" id="currentPg">
                            <img src="/images/home.svg" />
                        </a>

                        <a href="aboutme.html" class="item">
                            <img src="/images/aboutme.svg" />
                        </a>

                        <a href="projects.html" class="item">
                            <img src="/images/project.svg" />
                        </a>

                        <a href="contactme.html" class="item">
                            <img src="/images/contactme.svg" />
                        </a>
                    </div>
                </div>
            </div>
            
            <!-- bread nav-->
            <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <ul class="breadcrumbs">
                        <li class="current"><a href="index.html">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--logo-->
        <div class="large-3 medium-3 columns show-for-medium-up">
            <div class="row">
                <div class="large-12 medium-12 columns">
                    <img id="logo" src="/images/logo.png" />
                </div>
            </div>
        </div>
</div>
    
   