<!--File Name: header.ejs
    Author: Zida Bi, 300716389
    Website: Zida's Home
    File Description: header partial contain page header and nav bar
-->
 

 <!--header-->
  <!--logo-->
   <center>
    <div class="row  show-for-small-down">
       <div class="small-12 column">
           <div class="row">
                <div class="small-12 large-12 medium-12 columns">
                    <img id="logo-small" src="/images/logo.png" />
                </div>
            </div>
       </div>              
    </div>
</center>
       

<div class="row">
        <div class="large-9 medium-9 small-12 columns">
            <!--icon bar-->
            <div class="row">
                <div class="large-12 medium-12 columns show-for-medium-up">
                    <div class="icon-bar six-up">
                        <a href="/" class="item" <% if (title === "Assignment03") { %>id="currentPg"<% }%> >
                            <img src="/images/home.svg" />
                            <label>Home</label>
                        </a>

                        <a href="aboutme.html" class="item" <% if (title === "About Me") { %>id="currentPg"<% }%> >
                            <img src="/images/aboutme.svg" />
                            <label class="show-for-large-up">About Me</label>
                            <label class="show-for-medium-only">About</label>
                        </a>

                        <a href="projects.html" class="item" <% if (title === "My Projects") { %>id="currentPg"<% }%> >
                            <img src="/images/project.svg" />
                            <label>Projects</label>
                        </a>

                        <a href="services.html" class="item" <% if (title === "My Services") { %>id="currentPg"<% }%> >
                            <img src="/images/service.svg" />
                            <label>Services</label>
                        </a>

                        <a href="https://github.com/zida-bi" class="item">
                            <img src="/images/github.svg" />
                            <label>GitHub</label>
                        </a>

                        <a href="contactme.html" class="item" <% if (title === "Trying to Build Contact With Me?") { %>id="currentPg"<% }%> >
                            <img src="/images/contactme.svg" />
                            <label class="show-for-large-up">Contact Me</label>
                            <label class="show-for-medium-only">Contact</label>
                        </a>
                    </div>
                </div>
                
                <div class="small-12 columns show-for-small-down">
                    <div class="icon-bar four-up">
                        <a href="/" class="item" <% if (title === "Assignment03") { %>id="currentPg"<% }%> >
                            <img src="/images/home.svg" />
                        </a>

                        <a href="aboutme.html" class="item" <% if (title === "About Me") { %>id="currentPg"<% }%> >
                            <img src="/images/aboutme.svg" />
                        </a>

                        <a href="projects.html" class="item" <% if (title === "My Projects") { %>id="currentPg"<% }%> >
                            <img src="/images/project.svg" />
                        </a>

                        <a href="contactme.html" class="item" <% if (title === "Trying to Build Contact With Me?") { %>id="currentPg"<% }%> >
                            <img src="/images/contactme.svg" />
                        </a>
                    </div>
                </div>
            </div>
            
            <!-- bread nav-->
            <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <ul class="breadcrumbs">
                        <li <% if (title === "Assignment03") { %> class="current"<% } %>><a href="/">Home</a></li>
                        <%if (title === "About Me") { %><li class="current"><a href="aboutme.html">About</a></li><% } %>
                        <%if (title === "My Projects") { %><li class="current"><a href="projects.html">Projects</a></li><% } %>
                        <%if (title === "Trying to Build Contact With Me?") { %><li class="current"><a href="contactme.html">Contact</a></li><% } %>
                        <%if (title === "My Services") { %><li class="current"><a href="services.html">Services</a></li><% } %>
                    </ul>
                </div>
            </div>
        </div>
        <!--logo-->
        <div class="large-3 medium-3 columns show-for-medium-up">
            <div class="row">
                <div class="large-12 medium-12 columns">
                    <img id="logo" src="/images/logo.png" />
                </div>
            </div>
        </div>
</div>
    
   