<!--home page-->
<div class="row">
   <div class="large-9 medium-9 small-12 columns">
        <!-- slider section: Amazing Slider -->
        <div id="amazingslider-wrapper-1">
            <div id="amazingslider-1">
                <ul class="amazingslider-slides">
                    <li><img src="/images/AndroidHealth.png" />
                    </li>
                    <li><img src="/images/MovieTicket.JPG" />
                    </li>
                    <li><img src="/images/TicketSys.jpg" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <!--button section-->
    <div class="large-3 medium-3 columns">
           
           <!--more work button-->
            <a href="projects.html" id="workMore" class="button radius show-for-large-up">View more work</a>
            <a href="projects.html" id="workMore" class="button radius show-for-medium-only">Projects</a>

           <!--drop down button: social network-->
            <button id="drpBtn" data-dropdown="drop" aria-controls="drop" , aria-expanded="false" class="button dropdown show-for-large-up large alert radius">Keep Connect</button>
            <button id="drpBtn" data-dropdown="drop" aria-controls="drop" , aria-expanded="false" class="show-for-medium-only large alert radius button dropdown">Social</button>
            <br>
            <!--drop down button items: social network buttons-->
            <ul id="drop" data-dropdown-content class="f-dropdown" role="menu" aria-hidden="true" tabindex="-1">
                <li>
                    <a href="https://www.facebook.com/zida.bi">
                        <img class="show-for-medium-up" src="/images/webicon-facebook.png" />
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/zida_bi">
                        <img class="show-for-medium-up" src="/images/webicon-twitter.png" />
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UC4V0nFvNl_xX7KeSqRlKEJQ/feed">
                        <img class="show-for-medium-up" src="/images/webicon-youtube.png" />
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/zidabi">
                        <img class="show-for-medium-up" src="/images/webicon-linkedin.png" />
                    </a>
                </li>
            </ul>
     </div>  
</div>

<!--social network buttons for small size screen-->
<div class="row show-for-small-down">
    <div class="small-12 columns">
        <center>
            <h3>My Social Networks</h3>
            <a href="https://www.facebook.com/zida.bi">
                <img src="/images/webicon-facebook-m.png" />
            </a>
            <a href="https://twitter.com/zida_bi">
                <img src="/images/webicon-twitter-m.png" />
            </a>
            <a href="https://www.linkedin.com/in/zidabi">
                <img src="/images/webicon-linkedin-m.png" />
            </a>
            <a href="https://www.youtube.com/channel/UC4V0nFvNl_xX7KeSqRlKEJQ/feed">
                <img src="/images/webicon-youtube-m.png" />
            </a>
        </center>
    </div>    
</div>