    <!--first project-->
    <div class="row" id="prj-java-l">
        <center>
            <h2 class="show-for-small-down">Java Ticket Booking GUI</h2>
        </center>
        <div class="large-5 medium-5 columns">
            <img src="/images/MovieTicket.JPG" />
        </div>
        <div class="large-7 medium-7 columns">
            <h2 class="hide-for-small-down">Java Ticket Booking GUI</h2>
            <br />
            <p>
                A movie ticket booking system project which using Java applet and MySQL technology.
            </p>
        </div>
    </div>
    <hr />

    <!--second project-->
    <div class="row" id="prj-helpdesk-l">
        <div class="large-7 medium-7 columns hide-for-small-down">
            <h2>Enterprice Internal Ticketing System</h2>
            <br />
            <p>
                This ticketing system will enable people putting help desk tickets for their demaged machies.
            </p>
        </div>
        <center>
            <h2 class="show-for-small-down">Enterprice Internal Ticketing System</h2>
        </center>
        <div class="large-5 medium-5 columns">
            <img src="/images/TicketSys.jpg" />
        </div>
        <div class="small-12 columns">
            <br />
            <p>
                This ticketing system will enable people putting help desk tickets for their demaged machies.
            </p>
        </div>
    </div>
    <hr />

    <!--third project-->
    <div class="row" id="prj-android-l">
       <center>           
           <h2 class="show-for-small-down">Android Health Monitoring System</h2>
       </center>
        <div class="large-5 medium-5 columns">
            <img src="/images/AndroidHealth.png" />
        </div>
        <div class="large-7 medium-7 columns">
            <h2 class="hide-for-small-down">Android Health Monitoring System</h2>
            <br />
            <p>
                This mobile application could help users tracking their body status by entering required basic informations.
            </p>
        </div>
    </div>
    <hr />
