   <!--first skill title-->
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <center>
                <h2>C# and Java Development</h2>
            </center>
        </div>
    </div>
    <!-- first skill description-->
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <center>
                <p>
                    Apply my C# and Java development skills with connection of database knowledge to provide real working output.
                </p>
            </center>
        </div>
    </div>
    <hr />

    <!--second skill title-->
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <center>
                <h2>Web Development</h2>
            </center>
        </div>
    </div>

    <!--second skill description-->
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <center>
                <p>Apply my web development skills regarding on emerging technologies to assist companies creating and implementing websites.</p>
            </center>
        </div>
    </div>
    <hr />

    <!--third skill title-->
    <div class="row">
        <div class="lare-12 medium-12 small-12 columns">
            <center>
                <h2>Automation Testing</h2>
            </center>
        </div>
    </div>

    <!--third skill description-->
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <center>
                <p>
                    Apply my co-op experience as a Technical System Analyst to assure company deliver error free software products.
                </p>
            </center>
        </div>
    </div>
    <hr />