
<!--File Name: other.ejs
    Author: Zida Bi, 300716389
    Website: Zida's Home
    File Description: template page for all other pages except home page
-->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--css section -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="Scripts/amazingslider-1.css">
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/app.css">
    
  </head>
  <body>
     
   <% include partials/header.ejs %>
   
   <!--page title-->
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <h1><%= title %></h1>
        </div>
    </div>
    <hr />
   
   
   <!--if section that identify page title for loading partials-->
    <%    if(title == "About Me")  {%>
    <%    include partials/aboutme.ejs %>
    <%    }  %> 
    
    <%    if(title == "My Projects")  {%>
    <%    include partials/projects.ejs %>
    <%    }  %> 
    
    <%    if(title == "Trying to Build Contact With Me?")  {%>
    <%    include partials/contactme.ejs %>
    <%    }  %> 
    
    <%    if(title == "My Services")  {%>
    <%    include partials/services.ejs %>
    <%    }  %> 
   
   <% include partials/footer.ejs %>   
    
    
    <!--JavaScripts section -->
    <script src="/Scripts/jquery.js"></script>
    <script src="/Scripts/jquery-2.1.3.min.js"></script> 
    <script src="/Scripts/Libs/foundation.min.js"></script>   
    <script src="/Scripts/amazingslider.js"></script>
    <script src="Scripts/initslider-1.js"></script>
    <script src="/Scripts/app.js"></script>
    
  </body>
</html>
